/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo-link {
    display: inline-block;
    text-decoration: none;
}

.logo-img {
    max-height: 35px;
    width: auto;
    display: block;
} 

.header-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 60px; 
}

.header-nav a {
    color: #000000;            
    font-size: 16px;    
    font-style: italic;     
    text-decoration: underline; 
    transition: color 0.3s;   
    display: inline-block;
    transition: all 0.3 ease;
}

/* Эффект при наведении */
.header-nav a:hover {
    color: #3d2f75;             
    text-shadow: none;
    transform: translate(1.5px, 1.5px);
}

.phone-link{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    display: inline-block;
}

.phone-link:hover{
    text-decoration: underline;
    color: #251e47;
    transform: scale(1.05);
}

.header-btn {
    background-color: #473784; 
    color: #ffffff;
    padding: 10px 25px;         /* Отступы внутри кнопки (сверху/снизу, слева/справа) */
    cursor: pointer; 
    transition: all 0.3s ease;
    display: inline-block;
    border: 2px solid #3a2e6e;
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.3);

    font-family: 'Montserrat', Helvetica, Arial, sans-serif; 
    font-weight: 600; 
    font-size: 16px;  
    text-transform: uppercase; 
    letter-spacing: 1px; 
    border-radius: 20px;  
}    

.header-btn:hover {
    background-color: #5744a3; 
    background-image: radial-gradient(circle at center, #5e4ab0 0%, #453584 95%, #34275d);
    transform: scale(1.02); 
    
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.5); 
}


body {
    font-family: 'Inter', sans-serif;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu a:hover {
    color: #5b5b8c;
    text-decoration: underline;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.phone {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.hero {
    position: relative;
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), 
                url('Gro.png') center/cover no-repeat;
    display: flex;
    align-items: center;
    color: #fff;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.features-list {
    list-style: none;
    margin-bottom: 30px;
}

.features-list li {
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.features-list li::before {
    content: "~";
    position: absolute;
    left: 0;
}

/* Карточки справа */
.hero-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    padding: 25px;
    width: 320px;
    transition: transform 0.3s ease, box-shadow 0.3s ease ;
    box-shadow: 8px 12px 25px rgba(0, 0, 0, 0.8);
}

.card:hover {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 12px 16px 35px rgba(0, 0, 0, 0.9);
}

.catalog_btn {
    background: #473784;
    color: #fff;
    border: 1px solid #463684;
    padding: 15px 35px;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: all 0.4s ease;

}

.catalog_btn:hover{
    background-color: #5744a3;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    transform: translateY(-3px);
}

/* Секция О нас */
.about {
    padding: 80px 0;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.about-block {
    background: #ebebee;
    padding: 40px;
    border-radius: 20px;
    border-left: 5px solid #3d2f75;
}